log_level=debug
log_dir=tests/logs
static_dist_path="ui/build"
embeddings_dir=tests/embedding_results
provider=ollama
ollama_base_url=http://localhost:11434
redis_host=127.0.0.1
redis_port=6379
upload_folder="uploads"